/* ESTILOS GLOBALES */
:root{
    --color_negro:#0000;
    --color_blanco:#FFF;
    --color_P:#0c1dbb;
    --color_S:#AB9144;
    --fuenteP: "Sand-sherif"
}
*,*:after,*::before{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
/* ESTILOS GENERALES DE LA PÁGINA */
body{
    background-color: var(--color_negro);
}
/* CONTENEDORES */
.form-container{
    margin-top: 1.5rem;
    background-color: var(--color_blanco);
    padding: 2rem;
    border-radius: 3rem;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
}
.form-container-sm{
    max-width: 20rem;
}
.form-container-md{
    max-width: 30rem;
    margin-top: 1.5rem;
}
/* ALERTAS */
.login-form .alert{
    display: none;
}